// Colors
$white: #fff;
$offwhite: #fdfdfd;
$pink: #FF34BB;
$blue: #4A90E2;
$grey: #828282;
$space: #333;
$sunset: #E56464;

// Fonts
$architect: 'Architects Daughter', cursive;
$open: 'Open Sans', sans-serif;
$mont: 'Montserrat', sans-serif;

