// Colors
$space: #333333;
$chocolate: #342525;
$grey: #828282;
$fog: #E4E3E3;
$cloud: #F6F6F6;
$white: #fff;
$pink: #FF34BB;
$blue: #4A90E2;
$baby: #86BEFF;
$sunset: #E56464;
$periwinkle: #C66AF7;
$torquiose: #7EDBD4;
$mint: #A2F6C1;
$creamsicle: #FEC38F;
$lime: #5ADB13;
$fire: #DB331D;

// Fonts
$mont: 'Montserrat', sans-serif;
$source: 'Source Sans Pro', sans-serif;
