// Vendor
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Declarations
@import "variables";

// Views
@import "views/home";
@import "views/blog";
@import "views/projects";

// Components
@import "components/site-navigation";
@import "components/footer";
@import "components/hero";
@import "components/article";
@import "components/post-feed";
@import "components/topics";
@import "components/socials";

body {
  margin: 0;
  padding: 0;
  font-family: $source;
  font-size: 15px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  background-color: $white;
  color: $grey;
}

h1,h2,h3,h4, h5{
  font-family: $mont;
  font-weight: 600;
}

img{
  max-width: 100%;
}